*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial, sans-serif;
}
.page{
    display: flex;
    height: 100vh;
    overflow: hidden;
}
/* ====================================================== SIDE PANEL ====================================================== */
.side-panel{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 90px;
    background-image: linear-gradient(rgb(109,48,48), rgb(0,0,0));
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}
.side-panel__burger-icon{
    padding: 15px 5px 0 5px;
}
.side-panel__burger-icon img{
    width: 80px;
    cursor: pointer;
}
.side-panel__stars{
    text-align: center;
    cursor: pointer;
}
.side-panel__star{
    font-size: 13px;
    color: rgb(255,207,75);
}
.side-panel__social-links{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.side-panel__social-link{
    display: block;
    width: 60px;
    height: 60px;
    margin: 12px auto;
    font-size: 25px;
    line-height: 55px;
    text-align: center;
    color: rgb(226,213,99);
    border: 2px solid rgb(226,213,99);
    border-radius: 50%;
    cursor: pointer;
}
.side-panel__social-link:hover{
    color: rgb(252,240,138);
    border-color: rgb(252,240,138);
}
@media screen and (max-width: 1430px){
    .side-panel__social-link{
        width: 50px;
        height: 50px;
        font-size: 20px;
        line-height: 45px;
    }
}
@media screen and (max-width: 926px){
    .side-panel{
        display: none;
    }
}
.main{
    flex-grow: 1;
}
/* ====================================================== HEADER ====================================================== */
.header{
    position: fixed;
    top: 0;
    left: 90px;
    right: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    z-index: 1;
    background-color: transparent;
}
.header__logo{
    flex-basis: 20%;
}
.header__logo img{
    height: 80px;
    cursor: pointer;
}
.header__navbar{
    flex-basis: 70%;
}
.header__list{
    list-style: none;
    font-size: 0;
}
.header__list-item{
    display: inline-block;
    margin-left: 50px;
}
.header__paragraph{
    display: inline;
    padding: 10px 15px;
    font-size: 14px;
    color: cornsilk;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.header__paragraph:hover{
    border-bottom: 2px solid cornsilk;
}
.header__newsletter{
    flex-basis: 10%;
}
.header__newsletter-button, .newsletter-popup__send-button{
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(226,213,99);
    border: none;
    cursor: pointer;
}
.header__newsletter-button:hover, .newsletter-popup__send-button:hover{
    background-color: rgb(252,240,138);
}
.header__newsletter-button:active, .newsletter-popup__send-button:active{
    background-color: rgb(231, 222, 135)
}
.header__hamburger-menu{
    display: none;
    position: fixed;
    top: 10px;
    right: 15px;
    padding: 4px;
    background-color: transparent;
    border: none
}
.header__hamburger-box{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
}
.header__hamburger-content{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(226,213,99);
    transform: translateY(-50%);
}
.header__hamburger-content::before, .header__hamburger-content::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(226,213,99);
}
.header__hamburger-content::before{
    top: -12px;
}
.header__hamburger-content::after{
    top: 12px;
}
@media screen and (max-width: 1430px){
    .header__paragraph, .header__newsletter-button{
        font-size: 12px;
    }
}
@media screen and (max-width: 926px){
    .header__newsletter{
        display: none;
    }
    .header__logo{
        display: block;
        position: fixed;
        top: 20px;
        left: 15px;
    }
    .header__navbar{
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 100vh;
        background-image: linear-gradient(rgb(109,48,48), rgb(0,0,0));
        transform: translateX(200px);
        transition: .3s linear;
    }
    .header__navbar.active{
        transform: translateX(0);
    }
    .header__list{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        opacity: 0;
        transform: translateY(40px);
        transition: all .3s .3s;
    }
    .header__navbar.active .header__list{
        opacity: 1;
        transform: translateY(0);
    }
    .header__list-item{
        margin-left: 20px;
    }
    .header__paragraph{
        display: block;
        padding: 13px 10px;
    }
    .header__paragraph:hover{
        border-bottom: 0;
    }
    .header__hamburger-menu{
        display: inline-block;
    }
}
.section{
    height: 100vh;
    padding: 110px 10px 0 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.js-section-content{
    opacity: 0;
    transform: translateY(100px);
    transition: .5s .5s;
}
.js-section-content.show{
    opacity: 1;
    transform: translateY(0);
}
/* ====================================================== HOME SECTION ====================================================== */
.home{
    background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url('./img/home.jpg');
}
.home__slogan-area{
    width: 90%;
    margin: 45px auto;
}
.home__h1{
    font-size: 60px;
    color: cornsilk;
    line-height: 1.4;
    font-weight: bold;
}
.home__h2{
    margin-top: 20px;
    font-size: 35px;
    color: cornsilk;
    text-transform: uppercase;
}
.home__span-h1{
    color: rgb(226,213,99);
}
.home__span-h2{
    color: rgb(219,32,32);
}
@media screen and (max-width: 1430px){
    .home__h1{
        font-size: 40px;
    }
    .home__h2{
        font-size: 15px;
    }
}
@media screen and (max-width: 1040px){
    .home__h1{
        font-size: 36px;
    }
}
@media screen and (max-width: 770px){
    .home__h1{
        font-size: 30px;
    }
}
@media screen and (max-width: 516px){
    .home__h1{
        font-size: 28px;
    }
}
/* ====================================================== MENU SECTION ====================================================== */
.menu{
    background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url('./img/menu.jpg');
}
.menu__menu-card{
    width: 60%;
    height: 80%;
    margin: 40px auto 0 auto;
    padding: 20px 15px;
    background-color: rgba(226,226,226,.9);
    border: 3px solid rgba(0,0,0,.3);
    border-radius: 60px;
    display: flex;
}
.menu__left-side{
    flex-basis: 50%;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
}
.menu__center-line{
    width: 1px;
    height: 100%;
    background-color: rgba(0,0,0,.2);
}
.menu__right-side{
    flex-basis: 50%;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
}
.menu__element{
    flex-basis: 50%;
    align-self: center;
    opacity: .7;
    transition: .2s linear;
}
.menu__element img{
    display: block;
    width: 75%;
    margin: 0 auto 15px auto;
    transform: scale(1.1);
    transition: .2s linear;
}
.menu__paragraph{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.menu__element:hover{
    opacity: 1;
}
.menu__element:hover img{
    transform: scale(1.2);
}
@media screen and (max-width: 1300px){
    .menu__paragraph{
        font-size: 12px;
    }
}
@media screen and (max-width: 1040px){
    .menu__paragraph{
        font-size: 10px;
    }
}
@media screen and (max-width: 770px){
    .menu__menu-card{
        position: relative;
    }
    .menu__center-line, .menu__right-side{
        display: none;
    }
    .menu__left-side{
        flex-basis: 100%;
    }
    .menu__left-side::before{
        content: 'our best';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 30px;
        background-color: rgb(204, 204, 204);
        border: 2px solid rgb(155, 155, 155);
        border-radius: 20px;
        font-size: 14px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    .menu__element img{
        width: 70%;
    }
    .menu__paragraph{
        font-size: 13px;
    }
}
@media screen and (max-width: 516px){
    .menu__menu-card{
        width: 75%;
    }
    .menu__element img{
        width: 65%;
    }
    .menu__paragraph{
        font-size: 11px;
    }
}
/* ====================================================== RESTAURANT SECTION ====================================================== */
.restaurant{
    background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url('./img/restaurant.jpg');
}
.restaurant__info-area{
    width: 90%;
    height: 90%;
    min-height: 80%;
    margin: 25px auto 0 auto;
    padding: 30px;
    background-color: rgba(226,226,226,.9);
    border: 3px solid rgba(0,0,0,.3);
    border-radius: 60px;
    display: flex;
}
.restaurant__left-side{
    flex-basis: 60%;
}
.restaurant__icons{
    width: 80%;
    margin: 80px auto 100px;
    text-align: center;
    word-spacing: 50px;
}
.restaurant__icon{
    font-size: 240px;
    color: rgb(168,41,41);
}
.restaurant__address{
    margin-left: 60px;
}
.restaurant__header-paragraph{
    font-size: 28px;
}
.restaurant__header-paragraph-icon{
    color: rgb(84,131,46);
}
.restaurant__bottom-line{
    height: 1px;
    width: 70%;
    margin: 5px 0 20px 0;
    background-color: rgba(0,0,0,.2);
}
.restaurant__paragraph{
    margin-left: 45px;
}
.restaurant__parahraph--location{
    font-size: 18px;
}
.restaurant__right-side{
    flex-basis: 40%;
}
.restaurant__hours-status{
    margin-top: 50px;
}
.restaurant__time-table{
    margin-left: 45px;
}
.restaurant__time-table-cell{
    padding: 5px 0;
}
.restaurant__time-table-day{
    padding-right: 40px;
}
.restaurant__time-table-hours-open{
    text-align: center;
}
.restaurant__contact{
    margin-top: 70px;
}
.restaurant__parahraph--contact{
    margin-bottom: 10px;
}
.restaurant__paragraph-contact-icon{
    margin-right: 5px;
    font-size: 22px;
    vertical-align: sub;
}
@media screen and (max-width: 1430px){
    .restaurant__icon{
        font-size: 200px;
    }
    .restaurant__header-paragraph{
        font-size: 24px;
    }
    .restaurant__paragraph-contact-icon{
        font-size: 20px;
    }
    .restaurant__time-table-cell, .restaurant__parahraph--contact{
        font-size: 14px;
    }
    .restaurant__parahraph--location{
        font-size: 16px;
    }
}
@media screen and (max-width: 1300px){
    .restaurant__info-area{
        padding: 0;
    }
}
@media screen and (max-width: 1199px){
    .restaurant__icons{
        word-spacing: 30px;
    }
    .restaurant__icon{
        font-size: 180px;
    }
}
@media screen and (max-width: 1040px){
    .restaurant__icon{
        font-size: 140px;
    }
    .restaurant__header-paragraph{
        font-size: 20px;
    }
    .restaurant__paragraph-contact-icon{
        font-size: 16px;
    }
    .restaurant__time-table-cell, .restaurant__parahraph--contact{
        font-size: 12px;
    }
    .restaurant__parahraph--location{
        font-size: 14px;
    }
}
@media screen and (max-width: 770px){
    .restaurant__info-area{
        flex-direction: column;
        padding: 70px 40px 40px 40px;
    }
    .restaurant__icons{
        display: none;
    }
    .restaurant__left-side, .restaurant__right-side{
        flex-basis: auto;
        flex-grow: 1;
    }
    .restaurant__right-side{
        display: flex;
        flex-direction: column;
    }
    .restaurant__address, .restaurant__hours-status, .restaurant__contact{
        margin: 0;
        flex-grow: 1;
        text-align: center;
    }
    .restaurant__time-table{
        margin: 0 auto;
    }
    .restaurant__time-table-day{
        text-align: left;
    }
    .restaurant__bottom-line{
        margin-left: auto;
        margin-right: auto;
    }
    .restaurant__paragraph{
        margin: 0;
    }
}
@media screen and (max-width: 516px){
    .restaurant__info-area{
        flex-direction: column;
        padding: 10px 0 0 0;
    }
    .restaurant__header-paragraph{
        margin-top: 20px;
        font-size: 16px;
    }
    .restaurant__time-table-cell, .restaurant__parahraph--contact{
        font-size: 11px;
    }
    .restaurant__parahraph--contact{
        margin-bottom: 5px;
    }
    .restaurant__parahraph--location{
        font-size: 13px;
    }
    .restaurant__paragraph-contact-icon{
        font-size: 13px;
    }
    .restaurant__bottom-line{
        margin-bottom: 10px;
    }
}
/* ====================================================== NEWSLETTER POPUP ====================================================== */
.newsletter-popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100vh;
    background-image: linear-gradient(rgba(109,48,48,.8),rgba(0,0,0,.9)),url('./img/newsletter.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
    transition: .3s linear;
}
.newsletter-popup.show{
    width: 100%;
}
.newsletter-popup__content{
    display: none;
    position: relative;
    top: 50%;
    left: 10%;
    opacity: 0;
    width: 50%;
}
.newsletter-popup__content.show{
    display: block;
    animation-name: newsletter-content-show;
    animation-duration: .5s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}
.newsletter-popup__h3{
    font-size: 50px;
    font-weight: normal;
    line-height: 1.3;
    color: cornsilk;
}
.newsletter-popup__span-h3{
    font-weight: bold;
    color: rgb(226,213,99);
}
.newsletter-popup__paragraph{
    margin-top: 30px;
    font-size: 20px;
    color: cornsilk;
}
.newsletter-popup__form{
    margin-top: 60px;
}
.newsletter-popup__email-input{
    width: 40%;
    margin-right: 10px;
    padding: 7px 15px;
    font-size: 20px;
    color: #999;
    background-color: transparent;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #999;
}
.newsletter-popup__email-input:invalid{
    box-shadow: none;
}
.newsletter-popup__exit{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    font-size: 70px;
    color: rgb(226,213,99);
    opacity: 0;
    transition: .5s .3s linear;
    cursor: pointer;
}
.newsletter-popup__exit.show{
    opacity: 1;
}
@media screen and (max-width: 1250px){
    .newsletter-popup__h3{
        font-size: 40px;
    }
    .newsletter-popup__paragraph{
        font-size: 18px;
    }
}
@media screen and (max-width: 1080px){
    .newsletter-popup__h3{
        font-size: 40px;
    }
    .newsletter-popup__paragraph{
        font-size: 18px;
    }
    .newsletter-popup__email-input{
        font-size: 16px;
    }
    
}

@keyframes newsletter-content-show{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(-50%);
    }
}