*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial, sans-serif;
}
.page{
    display: flex;
    height: 100vh;
    overflow: hidden;
}
/* ====================================================== SIDE PANEL ====================================================== */
.side-panel{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 90px;
    background-image: linear-gradient(rgb(109,48,48), rgb(0,0,0));
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}
.side-panel__burger-icon{
    padding: 15px 5px 0 5px;
}
.side-panel__burger-icon img{
    width: 80px;
    cursor: pointer;
}
.side-panel__stars{
    text-align: center;
    cursor: pointer;
}
.side-panel__star{
    font-size: 13px;
    color: rgb(255,207,75);
}
.side-panel__social-links{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.side-panel__social-link{
    display: block;
    width: 60px;
    height: 60px;
    margin: 12px auto;
    font-size: 25px;
    line-height: 55px;
    text-align: center;
    color: rgb(226,213,99);
    border: 2px solid rgb(226,213,99);
    border-radius: 50%;
    cursor: pointer;
}
.side-panel__social-link:hover{
    color: rgb(252,240,138);
    border-color: rgb(252,240,138);
}
.main{
    flex-grow: 1;
}
/* ====================================================== HEADER ====================================================== */
.header{
    position: fixed;
    top: 0;
    left: 90px;
    right: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    z-index: 1;
    background-color: transparent;
}
.header__logo{
    flex-basis: 20%;
}
.header__logo img{
    height: 80px;
    cursor: pointer;
}
.header__navbar{
    flex-basis: 70%;
}
.header__list{
    list-style: none;
    font-size: 0;
}
.header__list-item{
    display: inline-block;
    margin-left: 50px;
}
.header__paragraph{
    display: inline;
    padding: 10px 15px;
    font-size: 14px;
    color: cornsilk;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.header__paragraph:hover{
    border-bottom: 2px solid cornsilk;
}
.header__newsletter{
    flex-basis: 10%;
}
.header__newsletter-button{
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(226,213,99);
    border: none;
    cursor: pointer;
}
.header__newsletter-button:hover{
    background-color: rgb(252,240,138);
}
.header__newsletter-button:active{
    background-color: rgb(231, 222, 135)
}
.section{
    height: 100vh;
    padding: 110px 10px 0 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* ====================================================== HOME SECTION ====================================================== */
.home{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.6)),url('./img/home.jpg');
}
.home__slogan-area{
    width: 90%;
    margin: 45px auto;
}
.home__h1{
    font-size: 60px;
    color: cornsilk;
    line-height: 1.4;
    font-weight: bold;
}
.home__h2{
    margin-top: 20px;
    font-size: 35px;
    color: cornsilk;
    text-transform: uppercase;
}
.home__span-h1{
    color: rgb(226,213,99);
}
.home__span-h2{
    color: rgb(219,32,32);
}
/* ====================================================== MENU SECTION ====================================================== */
.menu{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.6)),url('./img/menu.jpg');
}
.menu__menu-card{
    width: 60%;
    height: 80%;
    margin: 40px auto 0 auto;
    padding: 20px 15px;
    background-color: rgba(226,226,226,.9);
    border: 3px solid rgba(0,0,0,.3);
    border-radius: 60px;
    display: flex;
}
.menu__left-side{
    flex-basis: 50%;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
}
.menu__center-line{
    width: 1px;
    height: 100%;
    background-color: rgba(0,0,0,.2);
}
.menu__right-side{
    flex-basis: 50%;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
}
.menu__element{
    flex-basis: 50%;
    align-self: center;
    opacity: .7;
    transition: .2s linear;
}
.menu__element img{
    display: block;
    margin: 0 auto 15px auto;
    transform: scale(1.1);
    transition: .2s linear;
}
.menu__paragraph{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.menu__element:hover{
    opacity: 1;
}
.menu__element:hover img{
    transform: scale(1.2);
}
/* ====================================================== RESTAURANT SECTION ====================================================== */
.restaurant{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.6)),url('./img/restaurant.jpg');
}
.restaurant__info-area{
    width: 90%;
    height: 90%;
    margin: 25px auto 0 auto;
    padding: 30px;
    background-color: rgba(226,226,226,.9);
    border: 3px solid rgba(0,0,0,.3);
    border-radius: 60px;
    display: flex;
}
.restaurant__left-side{
    flex-basis: 60%;
}
.restaurant__icons{
    width: 80%;
    margin: 80px auto 100px;
    text-align: center;
    word-spacing: 50px;
}
.restaurant__icon{
    font-size: 240px;
    color: rgb(168,41,41);
}
.restaurant__address{
    margin-left: 60px;
}
.restaurant__header-paragraph{
    font-size: 28px;
}
.restaurant__header-paragraph-icon{
    color: rgb(84,131,46);
}
.restaurant__bottom-line{
    height: 1px;
    width: 70%;
    margin: 5px 0 20px 0;
    background-color: rgba(0,0,0,.2);
}
.restaurant__paragraph{
    margin-left: 45px;
}
.restaurant__parahraph--location{
    font-size: 18px;
}
.restaurant__right-side{
    flex-basis: 40%;
}
.restaurant__hours-status{
    margin-top: 50px;
}
.restaurant__time-table{
    margin-left: 45px;
}
.restaurant__time-table-cell{
    padding: 5px 0;
}
.restaurant__time-table-day{
    padding-right: 40px;
}
.restaurant__time-table-hours-open{
    text-align: center;
}
.restaurant__contact{
    margin-top: 70px;
}
.restaurant__parahraph--contact{
    margin-bottom: 10px;
}
.restaurant__paragraph-contact-icon{
    margin-right: 5px;
    font-size: 22px;
    vertical-align: sub;
}